body {
  font-family: sans-serif;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  min-height: 100vh;
}

h4 {
  display: flex;
  justify-content: right;
  width: 280px;
  text-align: right;
}

div {
  border-radius: 30px;
  border: 1px solid white;
  width: 300px;
  padding-left: 15px;
}
